.p-footerNav {
  width: 100%;
  background-color: #fff9f2;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

    & li:first-child {
      margin-left: auto;
    }

    & li:last-child {
      margin-right: auto;
    }
  }

  &__item {
    margin-right: 15px;
  }

  &__txt {
    font-size: 14px;
    color: #444;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .p-footerNav {
    &__list {
      width: 500px;
      margin-left: 150px;

      & li:nth-child(5) {
        margin-left: 24px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .p-footerNav {
    &__list {
      display: block;
      width: 90%;
      margin: 0 auto;
    }

    &__link {
      display: block;
      width: 100%;
      padding: 20px;
    }
  }
}
