.l-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.l-header__logo {
  margin-top: 10px;
}

.l-header__logoLink {
  width: 100%;
  font-size: clamp(10px, 4vw, 40px);
  font-weight: bold;
  line-height: 60px;
}

.l-header__logoLink span {
  color: #fb0;
}

.l-header__nav {
  display: flex;
  align-items: center;
  width: 650px;
}

.l-header__nav li {
  border-right: 1px solid #dfdfdf;
}

.l-header__nav li:last-child {
  border-right: none;
}

.l-header__navLink {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.l-header__navLink:hover {
  text-decoration: underline;
}

.l-header__navImg {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.l-header__navTxt {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .l-header {
    display: block;
    height: auto;
    text-align: center;
  }
  .l-header__logo {
    border-bottom: 1px solid #dfdfdf;
    padding-top: 4%;
    padding-bottom: 6%;
  }
  .l-header__logoLink {
    font-size: clamp(10px, 8vw, 60px);
  }
  .l-header__nav {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .l-header__navList {
    width: 33%;
    border-bottom: 1px solid #dfdfdf;
  }
  .l-header__nav li:nth-child(1),
  .l-header__nav li:nth-child(2),
  .l-header__nav li:nth-child(3) {
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .l-header__nav li:nth-child(4),
  .l-header__nav li:nth-child(5) {
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: none;
  }
  .l-header__nav li:nth-child(3) {
    border-right: none;
  }
  .l-header__navLink {
    justify-content: center;
  }
  .l-header__navImg {
    width: 50px;
    height: 50px;
  }
  .l-header__navTxt {
    font-size: 10px;
  }
  .l-header__navTxt span {
    position: absolute;
    right: 30px;
  }
}
