.p-headerNav {

  &__list {
    display: flex;
    height: 65px;
    background-color: rgb(63, 35, 9);
  }

  & li:first-child {
    width: 120px;
    background-color: rgb(126, 92, 0);
    margin-left: auto;

    &:hover {
      background-color: rgb(82, 60, 0);
    }
  }

  & li:nth-child(2) {
    width: 120px;
  }

  & li:nth-child(3) {
    width: 170px;
  }

  & li:nth-child(4) {
    width: 120px;
  }

  & li:nth-child(5) {
    width: 190px;
  }

  & li:last-child {
    width: 190px;
    margin-right: auto;
  }

  &__item {
    padding-top: 12px;
  }

  &__item:hover {
    background-color: rgb(95, 54, 15);
  }

  &__link {
    text-align: center;
  }

  &__txt1 {
    color: #fff;
    font-size: 14px;
  }

  &__txt2 {
    color: #cf974d;
    font-size: 9px;
  }
}

@media screen and (max-width: 767px) {
  .p-headerNav {
    display: none;
  }
}
