.p-infomation {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding-bottom: 100px;

  &__list {
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
  }

  &__box {
    position: relative;
    width: 465px;
    height: 100px;
    background-color: #3d1600;
    text-align: center;
    margin-left: auto;

    &Inner {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  &__txt {
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
  }

  &__txt2 {
    font-size: 17px;
    color: #fff;
  }

  &__img {
    width: 465px;
    height: 100px;
    margin-right: auto;
  }
}


@media screen and (max-width: 1023px) {
  .p-infomation {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .p-infomation {

    &__box {
      width: 70%;
      height: auto;
      padding-top: 25%;
    }

    &__img {
      width: 30%;
      height: auto;
    }

    &__txt {
      font-size: 17px;
      color: #fff;
      white-space: nowrap;
    }

    &__txt2 {
      font-size: 15px;
      color: #fff;
    }
  }
}
