.p-recommend {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 23%;

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  &__txt {
    position: relative;
    height: 70px;
    text-align: center;

    & span {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
    }
  }
}


@media screen and (max-width: 1023px) {
  .p-recommend {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .p-recommend {
    max-width: 690px;

    &__list {
      flex-wrap: wrap;

      & li:nth-child(1),
      & li:nth-child(3) {
        margin-left: 0;
      }
      & li:nth-child(2),
      & li:nth-child(4) {
        margin-right: 0;
      }
    }

    &__item {
      width: 48%;
    }

    &__img {
      max-width: 330px;
    }
  }
}
