.c-title {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 45px;

  &__jp {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      background-color: #e7e7e7;
    }

    &::before {
      margin-right: 1rem;
    }

    &::after {
      margin-left: 1rem;
    }
  }

  &__dark::before,
  &__dark::after {
    background-color: #727272;
  }

  &__en {
    font-size: 5px;
    color: #cf974d;
  }
}



@media screen and (max-width: 1023px) {
  .c-title {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
  }
}
