.p-topics {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;

  &__list {
    width: 100%;
    display: flex;
  }

  &__item {
    width: 23%;
    margin-right: 22px;

  }

  &__img {
    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

}


@media screen and (max-width: 1023px) {
  .p-topics {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;


    &__list {
      width: 100%;
      max-width: 850px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .p-topics {
    max-width: 690px;

    &__list {
      flex-wrap: wrap;
      justify-content: space-between;

      & li:last-child {
        margin-top: 4%;
      }
    }

    &__item {
      width: 48%;
      margin-right: 0;
    }

    &__img {
      max-width: 330px;
    }
  }
}
